
.intro{
   margin-top: 0;
   padding: 70px 0 160px 0;
    height: 68.5vh;
    width: 100%;
    background-image: linear-gradient(hsl(212, 100%, 18%),#1A5F7A);
          position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    color: white;
    
   
}
.intro-details{
    width: fit-content;
    margin: 20px ;
    
}
.intro-details h1{
    font-style: italic;
   opacity: 1;
    animation-name: textanimation;
    animation-duration: 4s;
}
@keyframes textanimation {
  0%   {font-size: 10px; opacity : 0.1}
  25% {font-size: 20px; opacity : 0.1}
  75% {font-size: 40px; opacity : 0.1}
  100% {font-size: 50px; opacity: 1;}
}

.tracking-out-contract{
    margin-top:0;
    font-size: 50px;
    font-weight: 600;
    color: white;
    opacity: 1;
    animation-name: panimation;
    animation-duration: 4s;
}
@keyframes panimation {
  0%   {font-size: 5px; opacity : 0.1}
  100% {font-size: 40px; opacity: 1;}
}
#details{
    font-style: italic;
    font-size: 30px;
    opacity: 1;
    animation-name: p1animation;
    animation-duration: 4s;
}
@keyframes p1animation {
  0%   {font-size: 5px; opacity : 0.1}
  100% {font-size: 15px; opacity: 1;}
}
.intro-img{
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
     
}

#resumebtmlink{
  margin: 0 1.5rem;
  height: max-content;
  width: fit-content;
  padding: 0.5rem;
  font-size: 30px;
  border-radius: 1rem;
  color: black;
  textDecoration: 'none'
}
#resumebtmlink:hover{
  color: white;
  background-color: #0b242e;
  border: 1px solid white;
  
  }
.intro-img img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  
}

@media (max-width:786px){
.intro{
    padding-top: 0.5rem;
    height: 81vh;
    flex-direction:column-reverse;
}
.intro-details {
    text-align: center;
    margin-bottom: 20px;
  }

  .intro-img {
           display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
  }
  #intro-imgone{
    height: 100px;
    width: 100px;
  }
#resumebutton{
  padding: 5px;
  height: 30px;
  font-size: 16px;
  color: black;
 
}
  .tracking-out-contract {
    font-size: 1.5rem;
  }

  #details {
    font-size: 0.9rem;
    margin-top: 10px;
  }

.intro-img img{
height: 10rem;
width: 10rem;

}

.intro-details h1{
font-size: 20px;
}
}


